body {
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
}

main {
	display: flex;
	flex-direction: column;
}

ul {
	list-style-position: inside;
	text-indent: -1em;
}

li:not(:last-child) {
	margin-bottom: 8px;
}

blockquote {
	font-weight: lighter;
	font-size: 24px;
	font-style: italic;
}

.grid {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 24px;
	justify-content: space-evenly;
}

.grid>* {
	font-size: 24px;
	font-weight: lighter;
	width: 50%;
	text-align: center;
}

img {
	max-width: 50%;
	border-radius: 50%;
}

@media (max-width: 800px) {
	img {
		max-width: 90%;
	}

	.grid {
		flex-direction: column;
	}

	.grid>* {
		width: 100%;
	}
}