.btn {
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	text-align: center;
}

.btn.large {
	padding: 12px 32px;
}

.btn:visited {
	color: #000;
}

.btn:hover {
	color: #fff;
	background: #000;
}

.btn-list {
	display: flex;
	justify-content: space-evenly;
}