.btn {
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	text-align: center;
}

.btn.large {
	padding: 12px 32px;
}

.btn:visited {
	color: #000;
}

.btn:hover {
	color: #fff;
	background: #000;
}

.btn-list {
	display: flex;
	justify-content: space-evenly;
}

blockquote {
	display: flex;
	flex-direction: column;
	font-weight: lighter;
}

blockquote.border {
	border: 1px solid #000;
	padding: 16px;
}

blockquote .middle {
	align-self: center;
}

blockquote .right {
	align-self: end;
}

@media (max-width: 800px) {
	.btn-list {
		flex-direction: column;
		gap: 16px;
	}

	blockquote * {
		text-align: center;
		align-self: center;
	}

	blockquote .middle {
		align-self: center;
	}
	
	blockquote .right {
		align-self: center;
	}
}