body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

a,
a:visited,
a:hover {
	color: #1469af;
}

header a,
header a:visited,
header a:hover {
	color: #fff;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	font-size: 20px;
	max-width: 800px;
	line-height: 26px;
	width: 100%;
}

article h1:after {
	content: ' ';
	display: block;
	border: 2px solid black;
}

.info {
	font-weight: 300;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.info .row {
	display: flex;
	justify-content: space-between;
}

.bold {
	font-weight: bold;
}

footer .grid {
	display: flex;
	flex-direction: row;
	margin: 0 12px;
	font-weight: 300;
	font-size: 16px;
	justify-content: space-around;
}

.grid div,
.grid p {
	max-width: 30%;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.no-line-break {
	white-space: nowrap;
}

.capitalize {
	text-transform: capitalize;
}

footer:before {
	content: ' ';
	display: block;
	border: 1px solid black;
	width: 100%;
}

header {
	background-color: #000;
	height: 64px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

header * {
	color: #fff;
}

nav {
	margin: 0 12px;
	display: flex;
	align-items: baseline;
	gap: 12px;
}

header h1,
h2,
h3,
h4,
h5,
h6 {
	display: inline;
}

.citation {
	color: #1469af;
	cursor: pointer;
}

.hanging-indent>div {
	padding-left: 24px;
	text-indent: -24px;
}

#progress-bar {
	--scrollAmount: 0%;

	background-image: linear-gradient(120deg, #000000b7 0%, #000000b7 100%);
	width: var(--scrollAmount);

	height: 8px;
	position: fixed;
	top: 0;
	left: 0;
}

.article-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pubdate {
	font-size: 12px;
}

.summary {
	font-size: 14px;
}

.article-link {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 8px;
	cursor: pointer;
}

.article-link:hover {
	box-shadow: 5px 10px #000;
}

.article-link.no-box {
	border: unset;
	padding: 0;
	cursor: unset;
}

.article-link.no-box:hover {
	box-shadow: unset;
}

.title {
	font-size: 18px;
}

.title-first-letter {
	font-size: 24px;
	font-style: italic;
}

section.content > p:first-of-type::first-letter {
	font-size: 270%;
	padding: 6px 3px;
	margin-right: 6px;
	float: left;
}


.mobile {
	display: none;
}

@media (max-width: 800px) {
	nav > a {
		display: none;
	}

	.mobile {
		display: unset;
	}

	main {
		margin: 0px 8px;
	}

	.info {
		flex-direction: column;
		gap: 12px;
	}

	.article-list li {
		margin: 16px;
	}

	footer .grid {
		flex-direction: column;
	}

	.grid div,
	.grid p {
		max-width: unset;
	}
}