body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	max-width: 50rem;
	margin: auto;
	line-height: 1.5em;
	color: #444;
}

::selection {
	background-color: rgba(255, 217, 0, 0.7);

}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header img {
	height: 1em;
}

a,
a:visited {
	color: #5aa8c8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

header > h1 > a,
header > h1 > a:visited {
	color: #444;
}

header > h1 > a:hover {
	text-decoration: none;
}

blockquote+blockquote {
	margin-top: 0.5in;
}

.citation {
	color: #1469af;
	cursor: pointer;
}

.post {
	display: grid;
	grid-template-columns: 10rem 1fr 10rem;
	border-bottom: 1px solid #444;
  	margin-top: 2rem;
}

.post > .pubdate {
	grid-column: 1;
}

.post > .title {
	grid-column: 2;
}

.post > .tags {
	grid-column: 3;
	text-align: right;
}

.title {
	font-size: 18px;
}

.mobile {
	display: none;
}

@media (max-width: 800px) {
	
}