<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}
    <main>
        <article>
            {{ .Content }}
            {{ if not .Params.private }}
            <div class="meta">
                <span>
                    {{ partial "date.html" (dict "date" .PublishDate "monate" $.Site.Data.months) }}
                </span>
                <span>
                    Kontakt: michael [ at ] mfreimueller [ dot ] com
                </span>
            </div>
            {{ end }}
        </article>
    </main>
</body>

</html>