<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
	<meta name="keywords" content="Michael Freimüller, Homepage">
	<meta name="description" content="Homepage von Michael Freimüller">
	<meta name="author" content="Michael Freimüller">
	<meta name="referrer" content="none-when-downgrade">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>