<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />

    <!-- Standard favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon-128x128.png">
    
    <!-- Android Chrome -->
    <link rel="manifest" href="site.webmanifest">
    
    <!-- Various sizes for different devices -->
    <link rel="icon" type="image/png" sizes="48x48" href="favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicon-256x256.png">
    
    <!-- Microsoft Tiles -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon-128x128.png">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
	<meta name="keywords" content="Michael Freimüller, Homepage">
	<meta name="description" content="Homepage von Michael Freimüller">
	<meta name="author" content="Michael Freimüller">
	<meta name="referrer" content="none-when-downgrade">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>