<section>
    <ul class="article-list">
		{{ if .homepage }}
			{{ range after 1 ( first 4 ( where site.RegularPages "Type" "in" site.Params.mainSections ) ) }}
				{{ partial "list-item" . }}
			{{ end }}
		{{ else }}
			{{ range .context.Pages }}
				{{ partial "list-item" . }}
        	{{ end }}
		{{ end }}
    </ul>
</section>

<script defer>
    var articleLinks = document.getElementsByClassName("article-link");
    for (var idx = 0; idx < articleLinks.length; idx++) {
        var articleLink = articleLinks.item(idx);

        articleLink.addEventListener("click", function () {
            location.href = this.getAttribute("data-link", "_self");
        });
    }
</script>